body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #ececec55 25%, transparent 25%) -15px 0/ 30px 30px, linear-gradient(225deg, #ececec 25%, transparent 25%) -15px 0/ 30px 30px, linear-gradient(315deg, #ececec55 25%, transparent 25%) 0px 0/ 30px 30px, linear-gradient(45deg, #ececec 25%, #e5e5f7 25%) 0px 0/ 30px 30px;

}

.dash_home
{
    display: flex;

    

}

.container-1
{
    /* border: 4px solid #2756BD; */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding-top: 12rem; */
    
}

.container1-menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    border: 1px solid #2756BD;
    border-radius: 10px;

}


.add_student{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12rem;

    /* border: 2px solid black; */
}

.add_student_form
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */

}


.add_student_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.add_student_button button
{
    width: 40%;
    margin: 1.5rem;
    color: #2756BD;
    border-color: #2756BD;
    font-family: "Trebuchet MS";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;   
    
    margin-top: -1rem; 
}




.form-row-1-1
{
display: flex;
flex-direction: column;
gap: 2px;

}
.form-row-1-1-1
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
p{
    font-family: "Trebuchet MS";

}
.add_student_row
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.id_row
{
    width: 80%;
}

.add_student_button
{
    margin-top: 2rem;
}

.student_id_area
{
 width: 20rem;
 height: 5rem;   
}

@media (min-width: 350px) and (max-width: 450px)
{
    

    .container-1
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 8rem;
        margin-bottom: 1rem;
        background-color: white ;


    }

    .container1-menu
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #2756BD;
    border-radius: 10px;

    margin-top: -.1rem;

}
    .add_student{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .add_student_form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

    .add_student_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    

}
.add_student_button button
{
    width: 80%;
    margin-top: 2rem;
    color: #2756BD;
    border-color: #2756BD;
    font-family: "Trebuchet MS";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;    
}




.add_student h1
{
    font-size: 1.5rem;
    font-weight: 400;
}



.form-row-1-1
{
    width: 100%;
   /* margin-left:-1rem; */

}

.add_student_row
{
    display: flex;
    flex-direction: row;

}

#nostudents
{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top: 1rem;
}

.student_id_area
{
 width: 10rem;
 height: 3rem;   
}


}

